body {
    padding: 0;
    margin: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    transition: all 500ms ease;
    box-sizing: border-box;
    overflow: hidden;
}

.navbar {
    position: relative;
    display: flex;
    flex-direction: row;
    top: 0;
    left: 0;
    width: 100%;
    background: #000;
    /* background: #000606e9; */
}

.navbar .row {
    position: relative;
    display: inline-flex;
    width: inherit;
    justify-content: space-between;
}

.navbar .row h4 {
    position: relative;
    display: inline-flex;
    left: 20px;
    font-weight: normal;
    font-size: 20px;
    color: #fff;
}

.navbar .row .links {
    position: relative;
    display: inline-flex;
    right: 25px;
    justify-content: space-evenly;
}
.navbar .row .links li {
    position: relative;
    list-style-type: none;
    font-size: 16px;
    color: #fff;
    margin-right: 10px;
    top: 12px;
}
.navbar .row .links li a {
    position: relative;
    text-decoration: none;
    color: #fff;
    padding: 10px;
}


/* below-cta */
.below-cta {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 5px;
    background: #ccc;
    justify-content: space-between;
}

.below-cta .left {
    position: relative;
    display: inline-flex;
    padding: 5px;
    left: 20px;
}
.below-cta .left span {
    position: relative;
    display: block;
    font-weight: normal;
    font-size: 14px;
    opacity: .5;
    color: #000;
    letter-spacing: 1px;
    top: 10px;
}

.below-cta .left .switch {
    position: relative;
    display: flex;
    background: #001420c0;
    border-radius: 2rem;
    margin-left: 5px;
}

.below-cta .left .switch .btn{
    position: relative;
    display: block;
    border: none;
    font-weight: normal;
    background: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
} 

.below-cta .left .switch .active{
    background: rgb(222, 100, 0);
    color: #fff;
}
.active {
    background: rgb(222, 100, 0);
}
.below-cta .right {
    position: relative;
    display: inline-flex;
    right: 20px;
}
.below-cta .right a {
    position: relative;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.9);
    font-size: 16px;
    top: 12px;
}



